# Packaging
/target/
/output/

# Eclipse
/.settings/

# Python
__pycache__
*.pyc
/src/.tox/
/src/.coverage
/src/coverage-*.xml
/src/cover-*/
/src/nosetests-*.xml

# setuptools
/src/dist/
/src/build/
/src/leaf.egg-info/
